.card {
  position: relative;
  width: 840px;
  padding: 20px;
  padding-top: 30px;
  border: 2px solid #add8e6;
  margin-top: 50px;
}

.seal {
  position: absolute;
  top: -32px;
  left: calc(420px - 32px);
}