
.blogTitleArea{
  position: relative;
  .blogTitle {
    position: absolute;
    top: 170px;
    left: 420px;
    color: white;
    font-size: 60px;
    transform: translate(-50%, -100%);
  }
}

.blogTitleAreaDense{
  background: #add8e6;
  .blogTitle {
    display: block;
    font-size: 24px;
    padding: 5px 10px;
    color: white;
  }
}
